/* CSS Stylesheet */

* {
    background-color: whitesmoke;
    box-sizing: border-box;
}

/* Third Party Font*/
/* Anton-Regular */
@font-face {
    font-family: Anton-Regular;
    src: url(Anton-Regular.ttf);
}

/* Elements */
h1, h2 {
   font-family: Anton-Regular; 
   font-size: 112px;
   color: #333;
   text-align: center;
   text-decoration: underline;
}

h2 {
   font-size: 30px;
   text-decoration: none;
}

p {
    color: rgb(90,50,30);
    margin: auto;
}

header {
    text-align: center;
    display: block;
    width: 100%;
}

code {
    display: inline-block;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #533;
    height: 150px;
    max-width: 8%;
    position: static;
}

a:hover {
    background-color: teal;
}

a:active {
    background-color: red;
}

h2 ~ p {
    color: darkred;
    position: sticky;
}

h2 + button {
    background-color: coral;
}

img[width="300"] {
   width: 500px;
}

/* classes */
.content-container {
    color: hsla(20,40%,20%,1);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: coral;

    margin-right: 5%;
    margin-left: 5%;

    padding-left: 20px;
    padding-right: 20px;

    width: 90%;
}

.content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 10px 10px 20px 10px;
}

.content-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 5px 5px 5px 5px;
}

.my-images-grid {
    display: grid;

    border-style: solid;
    border-width: 5px;
    border-color: #533;
}

.my-image {
    display: grid;

    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
}

.content-media > form {
    font-family: Arial, Helvetica, sans-serif;
}

.content-text h2 {
    color: #444;
}

.header {
    background-color: coral;
}

#my-minecraft-video {
    background-color: coral;
}

@media only screen and (max-width: 300px) {
  * {
    background-color: red;
  }
}