/* CSS Stylesheet */

* {
    background-color: whitesmoke;
}

/* Third Party Font*/
/* Anton-Regular */
@font-face {
    font-family: Anton-Regular;
    src: url(Anton-Regular.ttf);
}

/* Tags */
h1 {
   font-family: Anton-Regular; 
   font-size: 112px;
   color: #333;
   text-align: center;
   text-decoration: underline;
}

h2 {
}